name: Run Model Workflow

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.11"]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    
    - name: Install dependencies
      run: |
        sudo -H pip3 install poetry
        poetry install
    
    - name: Model run
      run: |
        make

    - name: download production artifacts
      uses: actions/upload-artifact@v3
      with:
        name: produced-videos
        path: |
          model
          
    
    